.footerContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerstr {
  color: $heading-color;
  font-size: 14px;
  font-weight: 700;
  padding-left: 15px;
}

.footerli {
  color: $footer-link-color;
  font-size: 12px;
  font-weight: 400;
}
